In [1]:
import pandas as pd

In [2]:

file_path = r"C:\Users\amrsa\Documents\GitHub\lab-customer-analysis-round-2\files_for_lab\csv_files\marketing_customer_analysis.csv"
df=pd.read_csv(file_path)
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
df.shape

(10910, 26)

In [4]:
df= df.drop(columns= "Unnamed: 0")

In [5]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [6]:
df.columns= df.columns.str.lower()
df.columns

Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employmentstatus', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10279 non-null  object
 2   customer lifetime value        10910 non-null  float64
 3   response                       10279 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective to date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location code                  10910 non-null  object
 11  marital status                 10910 non-null  object
 12  monthly premium auto           10910 non-null  int64
 13  months since last claim        10277 non-null  float64
 14  months since policy inception  10910 non-null  int64
 15  number of open complaints      10277 non-null  float64
 16  number of policies             10910 non-null  int64
 17  policy type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew offer type               10910 non-null  object
 20  sales channel                  10910 non-null  object
 21  total claim amount             10910 non-null  float64
 22  vehicle class                  10288 non-null  object
 23  vehicle size                   10288 non-null  object
 24  vehicle type                   5428 non-null   object
dtypes: float64(4), int64(4), object(17)
memory usage: 2.1+ MB

In [8]:
df.isna().sum()

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [9]:
df[df.duplicated()]

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1134,BV86143,NaN,21034.018150,NaN,Basic,High School or Below,2/23/11,Employed,F,26876,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,219.209762,Four-Door Car,Medsize,A
2799,YS94121,NaN,5645.396665,NaN,Basic,High School or Below,2/27/11,Employed,M,50366,...,0.0,9,Personal Auto,Personal L1,Offer1,Call Center,428.734656,Four-Door Car,Small,A
2805,BS34332,NaN,5557.934118,NaN,Basic,High School or Below,1/30/11,Employed,F,83576,...,0.0,5,Personal Auto,Personal L3,Offer3,Web,331.200000,Two-Door Car,Medsize,A
3590,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
3877,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,...,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
4581,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,...,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
4992,GS76685,California,10408.968650,Yes,Basic,High School or Below,2/18/11,Retired,M,20228,...,NaN,2,Corporate Auto,Corporate L3,Offer1,Branch,523.815839,SUV,Medsize,NaN
5734,AL78075,Oregon,3810.238281,No,Premium,High School or Below,2/13/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer2,Branch,777.600000,NaN,NaN,NaN
5863,OJ33945,Oregon,8692.636838,No,Basic,High School or Below,1/8/11,Employed,F,97768,...,NaN,2,Personal Auto,Personal L1,Offer3,Agent,151.843731,Two-Door Car,Medsize,A
6068,EP64069,NaN,5138.244998,NaN,Basic,Bachelor,1/8/11,Employed,F,72264,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Web,272.649844,Four-Door Car,Medsize,NaN
6091,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,...,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
6116,RB49468,NaN,7511.660568,NaN,Basic,Bachelor,1/20/11,Unemployed,F,0,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,340.201412,Four-Door Car,Medsize,NaN
6117,AM79057,NaN,2287.917290,NaN,Basic,Bachelor,2/18/11,Employed,F,69024,...,5.0,1,Personal Auto,Personal L2,Offer2,Web,238.530745,Four-Door Car,Medsize,A
6315,GF70857,NaN,2933.960426,NaN,Extended,College,1/28/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,199.851201,Four-Door Car,Medsize,A
6410,NI17718,NaN,2150.178588,NaN,Basic,High School or Below,2/9/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
6578,GM16780,Oregon,36057.537020,No,Extended,College,2/7/11,Employed,M,90330,...,NaN,2,Corporate Auto,Corporate L3,Offer1,Call Center,192.085299,Sports Car,Medsize,A
6699,NJ46471,Oregon,8696.710700,No,Basic,Bachelor,1/4/11,Employed,F,56550,...,3.0,2,Corporate Auto,Corporate L1,Offer3,Agent,162.775889,NaN,NaN,A
6743,ID89933,NaN,7255.577594,NaN,Extended,Doctor,1/9/11,Employed,F,39786,...,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
6879,NL75739,Arizona,7590.050089,No,Basic,High School or Below,1/2/11,Disabled,M,10375,...,NaN,2,Personal Auto,Personal L3,Offer1,Branch,316.800000,Two-Door Car,Medsize,A
7533,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,...,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
7764,DY22043,Oregon,5499.447223,No,Basic,High School or Below,1/28/11,Employed,F,88768,...,0.0,7,Personal Auto,Personal L3,Offer3,Branch,326.400000,NaN,NaN,NaN
7786,VK57280,NaN,4727.354548,NaN,Basic,Bachelor,1/3/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,345.600000,Four-Door Car,Medsize,NaN
7796,PK26805,NaN,2810.957053,NaN,Basic,High School or Below,2/11/11,Employed,M,20371,...,1.0,1,Personal Auto,Personal L2,Offer4,Call Center,340.800000,Four-Door Car,Medsize,NaN
8509,HJ58678,Nevada,5418.152088,No,Basic,College,2/10/11,Employed,F,57587,...,0.0,7,Personal Auto,Personal L2,Offer3,Agent,257.090387,NaN,NaN,NaN
8531,LH94971,Oregon,7057.888812,No,Extended,Bachelor,1/17/11,Employed,M,37840,...,0.0,4,Corporate Auto,Corporate L2,Offer2,Agent,432.000000,NaN,NaN,A
8680,NB57112,Oregon,8104.503269,No,Basic,Bachelor,2/22/11,Unemployed,F,0,...,1.0,6,Personal Auto,Personal L2,Offer2,Agent,842.400000,NaN,NaN,A
8827,BZ44726,NaN,16477.768430,NaN,Basic,High School or Below,2/26/11,Employed,F,49825,...,3.0,2,Corporate Auto,Corporate L3,Offer3,Agent,336.000000,Two-Door Car,Medsize,NaN
8847,EZ48093,NaN,2710.811423,NaN,Basic,Bachelor,2/9/11,Employed,M,31998,...,0.0,1,Corporate Auto,Corporate L3,Offer3,Branch,331.200000,Four-Door Car,Small,A
8891,VE98553,Oregon,4666.643522,No,Premium,Bachelor,2/28/11,Employed,M,60466,...,NaN,1,Personal Auto,Personal L3,Offer2,Agent,784.186389,Four-Door Car,Large,A
8926,NJ72300,Oregon,8009.028202,No,Basic,Bachelor,1/25/11,Unemployed,F,0,...,NaN,3,Personal Auto,Personal L3,Offer2,Web,740.963933,SUV,Small,A
9095,KB18303,NaN,8658.863813,NaN,Basic,College,2/7/11,Employed,M,62464,...,0.0,4,Corporate Auto,Corporate L1,Offer2,Agent,400.181882,Sports Car,Medsize,NaN
9313,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,...,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
9432,ZB87718,Arizona,8714.922135,Yes,Basic,College,2/21/11,Unemployed,F,0,...,NaN,4,Personal Auto,Personal L1,Offer1,Agent,566.400000,SUV,Medsize,NaN
9943,FP86246,NaN,13211.010920,NaN,Premium,Bachelor,1/31/11,Employed,M,74656,...,0.0,2,Personal Auto,Personal L2,Offer3,Call Center,504.365927,NaN,NaN,A
10006,IE40701,California,2877.354255,No,Basic,High School or Below,1/30/11,Employed,M,32807,...,0.0,1,Personal Auto,Personal L2,Offer2,Call Center,350.400000,NaN,NaN,A
10276,VA78645,California,2188.655055,No,Basic,College,1/9/11,Unemployed,M,0,...,1.0,1,Personal Auto,Personal L3,Offer3,Branch,321.600000,NaN,NaN,NaN
10499,VI66513,California,9688.334578,No,Extended,High School or Below,1/3/11,Employed,M,20009,...,NaN,2,Corporate Auto,Corporate L3,Offer2,Branch,987.122788,Four-Door Car,Small,A

In [10]:
df=df.drop_duplicates()

In [11]:
numerical_df = df.select_dtypes(include = "number")
numerical_df

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [12]:
categorical_df = df.select_dtypes(exclude = "number")
categorical_df

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [13]:
df.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [14]:
categorical_df= categorical_df.drop(columns ="vehicle type" )

In [15]:
categorical_df

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize

In [16]:
categorical_df =categorical_df.dropna()

In [17]:
categorical_df.isna().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective to date    0
employmentstatus     0
gender               0
location code        0
marital status       0
policy type          0
policy               0
renew offer type     0
sales channel        0
vehicle class        0
vehicle size         0
dtype: int64

In [18]:
categorical_df

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,QI63521,Nevada,No,Basic,High School or Below,2/24/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize

In [19]:
numerical_df

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [20]:
numerical_df.isna().sum()

customer lifetime value            0
income                             0
monthly premium auto               0
months since last claim          623
months since policy inception      0
number of open complaints        623
number of policies                 0
total claim amount                 0
dtype: int64

In [21]:
numerical_df= numerical_df.dropna()
numerical_df

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
5,4745.181764,50549,61,2.0,73,0.0,7,292.800000
...,...,...,...,...,...,...,...,...
10904,19228.463620,0,187,14.0,32,0.0,2,897.600000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [22]:
numerical_df.isna().sum()

customer lifetime value          0
income                           0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
total claim amount               0
dtype: int64

In [23]:
numerical_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10250 entries, 0 to 10909
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer lifetime value        10250 non-null  float64
 1   income                         10250 non-null  int64
 2   monthly premium auto           10250 non-null  int64
 3   months since last claim        10250 non-null  float64
 4   months since policy inception  10250 non-null  int64
 5   number of open complaints      10250 non-null  float64
 6   number of policies             10250 non-null  int64
 7   total claim amount             10250 non-null  float64
dtypes: float64(4), int64(4)
memory usage: 720.7 KB

In [24]:
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9680 entries, 0 to 10908
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer           9680 non-null   object
 1   state              9680 non-null   object
 2   response           9680 non-null   object
 3   coverage           9680 non-null   object
 4   education          9680 non-null   object
 5   effective to date  9680 non-null   object
 6   employmentstatus   9680 non-null   object
 7   gender             9680 non-null   object
 8   location code      9680 non-null   object
 9   marital status     9680 non-null   object
 10  policy type        9680 non-null   object
 11  policy             9680 non-null   object
 12  renew offer type   9680 non-null   object
 13  sales channel      9680 non-null   object
 14  vehicle class      9680 non-null   object
 15  vehicle size       9680 non-null   object
dtypes: object(16)
memory usage: 1.3+ MB

In [25]:
#trying to concatinate the two dataframes: categorical_df ,numerical_df
df1=pd.concat([categorical_df, numerical_df],axis = 1)
df1
######### wrong

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle class,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,...,Four-Door Car,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,...,Four-Door Car,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,...,SUV,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,...,Four-Door Car,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,...,Four-Door Car,Medsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18611.453560,49673.0,232.0,27.0,57.0,0.0,7.0,1021.654003
10883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22563.618380,23046.0,65.0,18.0,7.0,3.0,2.0,1.687291
10890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4660.399573,89834.0,116.0,24.0,11.0,0.0,1.0,43.155950
10894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6314.492009,66947.0,78.0,13.0,12.0,0.0,6.0,374.400000
10909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6857.519928,0.0,101.0,31.0,1.0,0.0,3.0,1021.719397

In [26]:
filtered_df = df.iloc[1105:1236, :]
filtered_df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
1105,BU14748,Arizona,3618.686938,No,Extended,High School or Below,2/14/11,Employed,M,50755,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,436.800000,Two-Door Car,Medsize,A
1106,FB71914,California,30205.012970,No,Extended,College,2/17/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,469.359715,Four-Door Car,Medsize,A
1107,SZ61347,California,5583.575264,No,Extended,College,2/17/11,Employed,M,76927,...,0.0,1,Personal Auto,Personal L3,Offer4,Branch,114.743547,SUV,Medsize,A
1108,SS69401,Oregon,4841.057535,No,Basic,College,2/5/11,Employed,F,23449,...,0.0,8,Corporate Auto,Corporate L3,Offer2,Web,292.800000,Four-Door Car,Medsize,A
1109,CE72177,California,5461.548993,No,Basic,High School or Below,1/7/11,Employed,F,39626,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,485.705851,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,WU14549,Nevada,4369.717940,No,Premium,Master,1/11/11,Employed,M,88495,...,NaN,1,Personal Auto,Personal L3,Offer1,Branch,535.926948,Two-Door Car,Medsize,A
1233,SF30642,California,8996.774075,No,Basic,High School or Below,2/13/11,Employed,M,49706,...,0.0,3,Personal Auto,Personal L3,Offer2,Call Center,617.515196,SUV,Medsize,NaN
1234,AG45299,California,8595.726399,No,Basic,College,1/20/11,Employed,M,76763,...,0.0,8,Personal Auto,Personal L3,Offer2,Web,186.459607,SUV,Small,A
1235,CN16311,Oregon,5476.527832,No,Basic,Master,2/6/11,Employed,F,52218,...,0.0,8,Corporate Auto,Corporate L3,Offer2,Call Center,33.781673,Four-Door Car,Medsize,NaN
1236,IA63417,NaN,4001.519098,NaN,Premium,High School or Below,2/2/11,Retired,F,19782,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,773.470977,Two-Door Car,Medsize,A

In [27]:
df1= df1.dropna()
df1

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle class,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,...,Four-Door Car,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,...,Four-Door Car,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,...,SUV,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,...,Four-Door Car,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411
6,IW72280,California,No,Basic,Doctor,2/14/11,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,287.556107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,No,Basic,College,1/7/11,Employed,M,Suburban,Married,...,Two-Door Car,Medsize,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,355.200000
10904,QI63521,Nevada,No,Basic,High School or Below,2/24/11,Unemployed,M,Suburban,Single,...,Luxury SUV,Medsize,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,897.600000
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,273.018929
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,...,Luxury SUV,Medsize,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,381.306996
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,...,SUV,Medsize,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,618.288849

In [28]:
df1= df1.reset_index(drop=True)
df1

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle class,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,...,Four-Door Car,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,...,Four-Door Car,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,...,SUV,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,...,Four-Door Car,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411
4,IW72280,California,No,Basic,Doctor,2/14/11,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,287.556107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,No,Basic,College,1/7/11,Employed,M,Suburban,Married,...,Two-Door Car,Medsize,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,355.200000
9130,QI63521,Nevada,No,Basic,High School or Below,2/24/11,Unemployed,M,Suburban,Single,...,Luxury SUV,Medsize,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,897.600000
9131,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,273.018929
9132,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,...,Luxury SUV,Medsize,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,381.306996
9133,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,...,SUV,Medsize,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,618.288849

In [29]:
df1['effective to date'] = pd.to_datetime(df1['effective to date'], errors = "coerce")
df1

C:\Users\amrsa\AppData\Local\Temp\ipykernel_30668\2693809803.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['effective to date'] = pd.to_datetime(df1['effective to date'], errors = "coerce")

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle class,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,DK49336,Arizona,No,Basic,College,2011-02-18,Employed,M,Suburban,Married,...,Four-Door Car,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000
1,KX64629,California,No,Basic,College,2011-01-18,Unemployed,F,Suburban,Single,...,Four-Door Car,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331
2,LZ68649,Washington,No,Basic,Bachelor,2011-02-10,Employed,M,Suburban,Single,...,SUV,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000
3,XL78013,Oregon,Yes,Extended,College,2011-01-11,Employed,M,Suburban,Single,...,Four-Door Car,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411
4,IW72280,California,No,Basic,Doctor,2011-02-14,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,287.556107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,No,Basic,College,2011-01-07,Employed,M,Suburban,Married,...,Two-Door Car,Medsize,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,355.200000
9130,QI63521,Nevada,No,Basic,High School or Below,2011-02-24,Unemployed,M,Suburban,Single,...,Luxury SUV,Medsize,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,897.600000
9131,KX53892,Oregon,No,Basic,College,2011-01-06,Employed,F,Urban,Married,...,Four-Door Car,Medsize,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,273.018929
9132,TL39050,Arizona,No,Extended,Bachelor,2011-02-06,Employed,F,Rural,Married,...,Luxury SUV,Medsize,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,381.306996
9133,WA60547,California,No,Premium,College,2011-02-13,Employed,F,Urban,Divorced,...,SUV,Medsize,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,618.288849

In [30]:
df1.isna().sum()

customer                         0
state                            0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
location code                    0
marital status                   0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
vehicle class                    0
vehicle size                     0
customer lifetime value          0
income                           0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
total claim amount               0
dtype: int64

In [31]:
df1['month'] = df1['effective to date'].dt.month
df1

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount,month
0,DK49336,Arizona,No,Basic,College,2011-02-18,Employed,M,Suburban,Married,...,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000,2
1,KX64629,California,No,Basic,College,2011-01-18,Unemployed,F,Suburban,Single,...,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331,1
2,LZ68649,Washington,No,Basic,Bachelor,2011-02-10,Employed,M,Suburban,Single,...,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000,2
3,XL78013,Oregon,Yes,Extended,College,2011-01-11,Employed,M,Suburban,Single,...,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411,1
4,IW72280,California,No,Basic,Doctor,2011-02-14,Employed,F,Urban,Married,...,Medsize,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,287.556107,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,No,Basic,College,2011-01-07,Employed,M,Suburban,Married,...,Medsize,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,355.200000,1
9130,QI63521,Nevada,No,Basic,High School or Below,2011-02-24,Unemployed,M,Suburban,Single,...,Medsize,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,897.600000,2
9131,KX53892,Oregon,No,Basic,College,2011-01-06,Employed,F,Urban,Married,...,Medsize,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,273.018929,1
9132,TL39050,Arizona,No,Extended,Bachelor,2011-02-06,Employed,F,Rural,Married,...,Medsize,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,381.306996,2
9133,WA60547,California,No,Premium,College,2011-02-13,Employed,F,Urban,Divorced,...,Medsize,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,618.288849,2

In [32]:
first_quarter_data= df1[df1["month"].isin([1,2,3])]
first_quarter_data

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,...,vehicle size,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount,month
0,DK49336,Arizona,No,Basic,College,2011-02-18,Employed,M,Suburban,Married,...,Medsize,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,292.800000,2
1,KX64629,California,No,Basic,College,2011-01-18,Unemployed,F,Suburban,Single,...,Medsize,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,744.924331,1
2,LZ68649,Washington,No,Basic,Bachelor,2011-02-10,Employed,M,Suburban,Single,...,Medsize,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,480.000000,2
3,XL78013,Oregon,Yes,Extended,College,2011-01-11,Employed,M,Suburban,Single,...,Medsize,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,484.013411,1
4,IW72280,California,No,Basic,Doctor,2011-02-14,Employed,F,Urban,Married,...,Medsize,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,287.556107,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,No,Basic,College,2011-01-07,Employed,M,Suburban,Married,...,Medsize,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,355.200000,1
9130,QI63521,Nevada,No,Basic,High School or Below,2011-02-24,Unemployed,M,Suburban,Single,...,Medsize,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,897.600000,2
9131,KX53892,Oregon,No,Basic,College,2011-01-06,Employed,F,Urban,Married,...,Medsize,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,273.018929,1
9132,TL39050,Arizona,No,Extended,Bachelor,2011-02-06,Employed,F,Rural,Married,...,Medsize,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,381.306996,2
9133,WA60547,California,No,Premium,College,2011-02-13,Employed,F,Urban,Divorced,...,Medsize,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,618.288849,2

In [33]:
other_months_data = df1[~df1["month"].isin([1, 2, 3])]
other_months_data

Empty DataFrame
Columns: [customer, state, response, coverage, education, effective to date, employmentstatus, gender, location code, marital status, policy type, policy, renew offer type, sales channel, vehicle class, vehicle size, customer lifetime value, income, monthly premium auto, months since last claim, months since policy inception, number of open complaints, number of policies, total claim amount, month]
Index: []

[0 rows x 25 columns]

In [34]:
#df which is before cleaning 
df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [35]:
##Bonus 
def preprocess_data(df, date_column):
    # Display the original DataFrame shape
    print("Original DataFrame Shape:", df.shape)

    # Create a new DataFrame for processed data
    df2 = df.copy()

    # Standardize header names
    df2.columns = df2.columns.str.lower()

    # Identify numerical and categorical columns
    numerical_columns = df2.select_dtypes(include='number').columns
    categorical_columns = df2.select_dtypes(include='object').columns

    # Check and deal with NaN values
    df2[numerical_columns] = df2[numerical_columns].fillna(df2[numerical_columns].mean())
    df2[categorical_columns] = df2[categorical_columns].dropna()

    # Convert 'effective to date' to datetime and extract months
    df2[date_column] = pd.to_datetime(df2[date_column], format='%m/%d/%y', errors='coerce')
    df2['month'] = df2[date_column].dt.month

    # Filter data for the first quarter (January, February, and March)
    first_quarter_data = df2[df2['month'].isin([1, 2, 3])]
    first_quarter_data = first_quarter_data.reset_index(drop=True)

    display(first_quarter_data)
    df2.isna()
    return df2

# Example usage:
# df = ...  # Load your DataFrame here
# processed_df = preprocess_data(df, 'effective to date')

In [36]:
preprocess_data(df,"effective to date")

Original DataFrame Shape: (10873, 25)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2.0
1,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1.0
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1.0
3,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1.0
4,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4808,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1.0
4809,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2.0
4810,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1.0
4811,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1.0
4812,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2.0

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,month
0,NaN,NaN,4809.216960,NaN,NaN,NaN,NaT,NaN,NaN,48029,...,9,NaN,NaN,NaN,NaN,292.800000,NaN,NaN,NaN,NaN
1,NaN,NaN,2228.525238,NaN,NaN,NaN,NaT,NaN,NaN,0,...,1,NaN,NaN,NaN,NaN,744.924331,NaN,NaN,NaN,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2.0
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1.0
4,NaN,NaN,9025.067525,NaN,NaN,NaN,NaT,NaN,NaN,23675,...,7,NaN,NaN,NaN,NaN,707.925645,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1.0
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1.0
10907,NaN,NaN,23893.304100,NaN,NaN,NaN,NaT,NaN,NaN,39837,...,2,NaN,NaN,NaN,NaN,381.306996,NaN,NaN,NaN,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2.0
10909,NaN,NaN,6857.519928,NaN,NaN,NaN,NaT,NaN,NaN,0,...,3,NaN,NaN,NaN,NaN,1021.719397,NaN,NaN,NaN,NaN